* {
  box-sizing: border-box;
  font-family: cursive;
  font-weight: 800;
  background-color: #f1d7c0;
}

.main {
  display: grid;
  gap: 0%;
  grid-template-columns: 70% 30%;
}

.leaderboard {
  margin: 7% 5%;
}

.header h1 {
  font-size: 4rem;
  font-weight: bold;
}

.content {
  margin-left: 10%;
}

.inner-content {
  margin: 10% 2%;
}

.inner-content-heading {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
}

.inner-content-heading span {
  margin-top: 1.5%;
  width: 100%;
  text-align: right;
}

.inner-content-heading h2 {
  width: 100%;
  font-weight: 800;
}

.inner-content-data {
  border: 3px solid #422626;
  box-shadow: 3px 3px 3px #875d5d;
}

.addscore {
  margin-top: 64%;
  width: 80%;
  text-align: right;
  display: flex;
  gap: 5%;
  flex-direction: column;
}

.addscore h3 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.addscore input {
  padding: 4%;
  border: 3px solid #422626;
  width: 100%;
  box-shadow: 3px 3px 3px #875d5d;
}

.submit-button {
  margin-left: 46%;
}

button {
  font-size: 20px;
  padding: 2% 8%;
  border: 3px solid #422626;
  box-shadow: 5px 5px 5px #3e0a0a;
  background-color: #9b6969d1;
  color: white;
  border-radius: 6%;
}

.data-name {
  width: 30%;
  text-align: center;
}

.footer {
  width: 100%;
  border: 2px solid #422626;
  position: absolute;
  bottom: 0;
  height: 6%;
  background-color: #9b6969d1;
}

button:hover {
  background-color: #533434d1;
}

.footer:hover {
  background-color: #533434d1;
}